.cardItem {
  background-color: var(--white-color);
  height: 400px;
  text-align: center;
}

.div-image-product {
  height: 60%;
  cursor: pointer;
}

.p-descripation {
  height: 78px;
  width: 90%;
  overflow: hidden;
  color: var(--dark-gray--color);
}

.h-price {
  color: var(--orange-color-light);
  height: 5%;
}

.conent-quantity {
  height: 5%;
}