.section1 {
  height: 90vh;
}

.div-link-shopping {
  background-color: var(--orange-color-light);
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-weight: 600;
}

.div-link-shopping:hover {
  background-color: var(--orange-color);
}


.link-shopping {
  color: var(--white-color);
  text-decoration: none;
}

.link-shopping:hover {
  color: var(--white-color);

}

/********************  section 2 *************************/

.div-image {
  width: 80px;
}

.btn-delete {
  background-color: var(--white-color);
  color: var(--orange-color);
  border: none;
  font-weight: 600;
}

.btn-delete:hover {
  background-color: var(--orange-color-hover);
}


.quantity {
  width: 70px;
  border: 1px solid rgb(199, 194, 194);
  border-left: none;
  border-right: none;
  padding: 0;
  height: 42px;
  text-align: center;
  font-size: 14px;

}

.quantity:focus {
  border: 1px solid rgb(199, 194, 194);
  outline: none;
  border-left: none;
  border-right: none;
}

.minus,
.plus {
  width: 30px;
  text-align: center;
  height: 42px;
  background-color: #fff;
  border: 1px solid rgb(199, 194, 194);
}

.plus {
  position: absolute;
  z-index: 2;
  right: -10px;
}


.total-price {
  background-color: var(--white-color);
  height: 200px;
}

.checkout {
  border: none;
  color: var(--white-color);
  background-color: var(--orange-color-light);
  height: 50px;
  font-weight: 600;
}

.checkout:hover {
  background-color: var(--orange-color);
}

@media (max-width:767px) {

  .product-name,
  .available-quantity p,
  .total-price p {
    font-size: 10px;
  }

  .product-price h4 {
    font-size: 14px;
  }

  .btn-delete {
    font-size: 13px;
  }

  .total-price h5 {
    font-size: 13px;
  }

  .total-price h6 {
    font-size: 12px;
  }


  .checkout {
    font-size: 13px;
  }

}