.contentFooter {
  background-color: #313133;
  color: var(--white-color);
  height: 20vh;
}

.divBox {
  border: 2px solid var(--white-color);
  color: var(--white-color);
  width: 120px;
}

.divBox:hover {
  border: 2px solid var(--orange-color);
  color: var(--orange-color);

}

.divIcon {
  width: 55px;
  height: 55px;
  background-color: var(--orange-color);
}

.contentEmailInput {
  position: relative;
  color: var(--gree-color);
  background-color: var(--white-color);

}

.contentEmailInput input {
  outline: none;
  border: none;
}

.contentEmailInput input:focus {
  outline: none;
  border: none;
}

.boxRdio {
  border: 1px solid var(--white-color);
}

.boxRdio label {
  margin-left: 10px;
  z-index: 2;
  cursor: pointer;
}


.boxRdio input {
  position: relative;
  visibility: hidden;
}

.boxRdio label:active {
  color: var(--orange-color);
}
