 <div class="contentFooter row justify-content-center p-4">
    <div class="col-2 ">
      <div class="w-75 d-flex align-items-center" style="height: 50px;">
        <img src="assets/unnamed.png" alt="" class="img-fluid mt-0">
      </div>
    </div>
    <div class="col-5">
      <div>
        <p class="m-0" style="font-weight: 700;  font-size: .75rem; ">
          NEW TO JUMIA?
        </p>
        <p style="font-size: 14px;">
          Subscribe to our newsletter to get updates on our latest offers!
        </p>
      </div>
      <div>
        <form class="d-flex">
          <div class="rounded contentEmailInput d-flex align-items-center p-2">
            <i class="fa-solid fa-envelope me-2" style="font-size: 25px;"></i>
            <input type="email" placeholder="Enter E-mail Address">
          </div>
          <div class="d-flex">
            <div class="boxRdio rounded me-2 ms-3 p-2">
              <label for="gender">Male</label>
              <input type="radio" id="gender">
            </div>
            <div class=" boxRdio rounded p-2">
              <label for="gender">fmale</label>
              <input type="radio" id="gender">
            </div>
          </div>
        </form>

      </div>
    </div>

    <div class="col-3">
      <div class="d-flex pb-2">
        <div class="divIcon rounded d-flex align-items-center justify-content-center">
          <div class="d-flex align-items-center justify-content-center"
            style="background-color: #fff; height:35px; border-radius: 50%; width: 35px;">
            <img src="assets/R.gif" class="img-fluid" alt="">
          </div>
        </div>
        <div class="ms-3">
          <p class="m-0" style="font-weight: 700;  font-size: .75rem; ">
            DOWNLOAD JUMIA FREE APP
          </p>
          <p style="font-size: 14px;">
            Get access to exclusive offers!
        </div>
      </div>
      <div class="d-flex">
        <div class="divBox d-flex   rounded  align-items-center me-2 ">
          <div class="me-1">
            <i class="fa-brands fa-apple p-1" style="font-size:30px ;"></i>
          </div>
          <div>
            <p style="font-size: 9px;" class="m-0"> Download on the </p>
            <h6 style="font-size: 13px;">App Stor</h6>
          </div>
        </div>
        <div class="divBox d-flex   rounded  align-items-center ">
          <div class="me-1">
            <i class="fa-brands fa-google-play p-1" style="font-size:30px ;"></i>
          </div>
          <div>
            <p style="font-size: 9px;" class="m-0"> Download on the </p>
            <h6 style="font-size: 13px;">App Stor</h6>
          </div>
        </div>
      </div>
    </div>

  </div>
