.top-nav {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding:15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white-color);
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.12);
}

/* Active Link */
.active {
  color: var(--orange-color);
}

/* SEARCH */
.searchInput {
  width: 100%;
  max-width: 450px;
  border: 1px solid var(--gray-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.form-control {
  border: none;
  color: var(--gray-color);
}

.form-control:focus {
  box-shadow: none;
}

/* BUTTON */
.btn {
  color:var(--white-color);
  background-color: var(--orange-color);
  font-size: 14px;
  font-weight: 500;
}

.btn:hover {
  background-color: #e47a13;
}

/* LINKS */
.nav-link {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;
}

.nav-item {
  font-size: 16px;
  cursor: pointer;
}

.nav-item a{
  text-decoration: none;
  color: var(--black-color);
}

.nav-item a:hover {
  color: var(--orange-color);
}

/* MOBILE MENU ICON */
.content-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* -------------------------
   RESPONSIVE
-------------------------- */
@media (max-width: 768px) {
  .content-search {
    display: none;
  }

  .nav-link {
    display: none;
    flex-direction: column;
    gap: 20px;
    background: white;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .top-nav.responsive .nav-link {
    display: flex;
  }

  .content-icon {
    display: block;
  }
}
