<div class="d-flex justify-content-center mt-5 mb-5">
  <div class="div-perent col-7 shadow p-sm-3">
    <h4> Create Account </h4>
    <div>
      <form method="post" action="">
        <div class="d-flex justify-content-between  mt-4">
          <div class="perent-input1">
            <label for="firstName">First Name </label>
            <input type="text" id="firstName" placeholder="Enter your First Name">
          </div>
          <div class="perent-input2">
            <label for="lastName">Last Name </label>
            <input type="text" id="firstName" placeholder="Enter your Last Name">
          </div>
        </div>

        <div class="d-flex justify-content-between mt-4 ">
          <div class="perent-input1">
            <label for="E-mail">E-mail</label>
            <input type="email" id="E-mail" placeholder="Enter your Email">
          </div>
          <div class="perent-input2 color">
            <label for="Password">Password </label>
            <input type="password" id="Password" placeholder="Enter your Password" maxlength="15">
          </div>
        </div>
        <div class="d-flex justify-content-between  mt-4">
          <div class="perent-input1">
            <label for="City">City </label>
            <input type="text" id="City" placeholder="Enter your City">
          </div>
          <div class="perent-input2">
            <label for="Street">Street </label>
            <input type="text" id="Street" placeholder="Enter your  Street">
          </div>
        </div>


        <div class="d-flex mt-5 mb-5 ">
          <div class="perent-prefi me-4 ">
            <div>Prefi:</div>
            <p>+20</p>
          </div>
          <div class="perent-input-number ">
            <label for="Number">Phone Number</label>
            <input type="text" id="Number" placeholder="Enter your Phone Number" maxlength="12">
          </div>
        </div>


        <div class="div-subm  shadow mt-4 mb-4 ">
          <input type="submit" class="subm" value="CREATE ACCOUNT">
        </div>

      </form>
    </div>
  </div>
</div>
