<img [src]="storeData.Logo" class="w-25" alt="" *ngIf="IsPurshased ">
<button (click)="showIamage()" class="btn btn-primary"> Buy </button>
<div *ngIf="!IsPurshased ">
  <p>Thanks for purchasing from our Store <span style="font-weight: bold;"> {{ ClientName}} </span></p>
</div>

<h3 *ngIf="discount != discountEnum.dis3"> We offer an explicit discount of: <span>{{discount}} </span>  </h3>




<div class="row rounded pt-3 pb-3 shadow-sm" style="background-color: #fff;">

  <div class="col-md-2  " *ngFor="let prd of Products" SHadowItem="2"
    [ngStyle]="{'background-color': prd.quantity==1 ? 'yellow ' :  '#fff' } ">
    <div class="m-1 p-1" >
      <img [src]="prd.img" alt="" class="img-fluid mb-2 " style="height: 160px; ">
      <p>{{prd.name}}</p>
      <h6> EGP <span class="ms-1"> {{ prd.price }}</span> </h6>

      <div [ngSwitch]="prd.quantity">
        <p *ngSwitchCase="0"> lout of stock</p>
        <p *ngSwitchCase="1"> last one item</p>
        <p *ngSwitchCase="2">last two item</p>
        <p *ngSwitchDefault> in stock</p>
      </div>

      <button class="btn btn-primary " style="width: 60px;" [disabled]="prd.quantity==0"
        (click)="prd.quantity = buy(prd.quantity)">Buy</button>
    </div>
  </div>


</div>
