<div class="container-fluid">
  <div class="row">
    <app-navbar class="col-md-12"></app-navbar>
    <!-- <div class="row justify-content-center" style="background-color: #f1f1f2;">
      <app-main class="col-md-7 me-5  mt-5  mb-5 " style="background-color: #fff; height: 700px;" ></app-main>
      <app-sidebar class="col-md-2  mt-5  mb-5 " style="background-color: #fff; height: 500px;" ></app-sidebar>
    </div> -->
    <!-- <div class="d-flex justify-content-center" style="background-color: #f1f1f2; height:700px ;"> -->
    <div class="d-flex justify-content-center">
      <!-- <app-product class="mt-5 col-md-10 "></app-product> -->
      <router-outlet></router-outlet>
    </div>
    <app-footer class="col-sm-12"></app-footer>
  </div>
</div>