section {
  height: 90vh;
}

.login-div {
  margin: auto;
  background-color: var(--white-color);
  height: 450px;
}

.login-div h4 {
  text-align: center;
  color: var(--orange-color);
}

.login-div .login-form {
  width: 100%;
}

.parent-input1,
.parent-input2 {
  width: 100%;
  position: relative;
}

.parent-input1 input,
.parent-input2 input {
  width: 100%;
  background-color: var(--white-color);
  border: 1px solid #ccc;
  padding: 13px;
}

.parent-input1 label,
.parent-input2 label {
  position: absolute;
  background-color: var(--white-color);
  top: -13px;
  left: 13px;
  color: gray;
}

.parent-input2 input:focus-visible,
.parent-input1 input:focus-visible {
  outline-color: var(--orange-color);
}

.parent-input2:focus-visible+label {
  color: var(--orange-color);
}

.div-subm {
  width: 90%;
  margin: auto;
  height: 45px;
  position: relative;

}

.div-subm i {
  position: absolute;
  left: 20px;
  top: 13px;
}

.div-subm button {
  width: 100%;
  height: 45px;
  background-color: var(--orange-color-light);
  border: none;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 500;
}

.div-subm button:hover {
  background-color: var(--orange-color);
}

.div-signUp {
  width: 90%;
  margin: auto;
  height: 45px;
  background-color: var(--orange-color-light);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.div-signUp:hover,
.div-signUp a:hover {
  background-color: var(--orange-color);
}

.div-signUp a {
  display: inline-block;
  color: var(--white-color);
  text-decoration: none;
}

.login-div p {
  width: 100%;
  text-align: center;
}

.login-div p a {
  color: var(--orange-color);
}