/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  --white-color: #fff;
  --body-color: #f1f1f2;
  --gray-color: #a3a3a6;
  --darck-gray--color: rgb(109, 104, 104);
  --orange-color: #f68b1e;
  --orange-color-light: #fc9e41;
  --orange-color-hover:#fcdbb9;
  --primary-color:#2573a3;
}

/* body {
  background-color: var(--body-color);
} */
