/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  --whiat-color: #fff;
  --gree-color: #a3a3a6;
  --orange-color:#f68b1e;;

}
