<div class="content-table mt-sm-5 mb-sm-5 col-sm-9">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"> Product Table</h4>
      <h6 class="card-subtitle">Add class <code>.table</code></h6>
      <div class="table-responsive">
        <table class="table user-table">
          <thead>
            <tr>
              <th class="border-top-0">No.</th>
              <th class="border-top-0">Iamge</th>
              <th class="border-top-0">Name</th>
              <th class="border-top-0">Price</th>
              <th class="border-top-0">Quantity</th>
              <th class="border-top-0">Brand</th>
              <th class="border-top-0">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Deshmukh</td>
              <td>Prohaska</td>
              <td>Prohaska</td>
              <td>@Genelia</td>
              <td>Prohaska</td>
              <td>
                <a class="btn">Edite </a>
                <button class="btn"> Delete </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
